.dashboard {
    display:grid;
    grid-template-areas: "header header "
                     "sidebar main "
                     "footer footer ";
                grid-template-columns: 200px 1fr;
                grid-template-rows: auto 1fr auto;
                gap: 10px;
                height: 100vh;
}

.header { grid-area: header; background: #5f7fc3; }
.sidebar{grid-area:sidebar; background-color: #8ab98e}
.main{grid-area:main; background-color: #e1d8c0}
.footer{grid-area:footer; background-color: #b69a1f}


@media (max-width: 768px) {
    .dashboard {
        grid-template-areas: "header "
                         "main "
                         "sidebar "
                         "footer ";
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr auto auto;
    }
}